.body{
  padding: 10px;
}
.playArea{
  width: 500px;
  display: grid;
  color:white;
  background-color: black;
  grid-template-rows: 1fr 3fr 2fr 1fr 1fr;
  padding: 10px;
  height: 600px;
}
.Box1{
  background-color: black;
  padding: 10px;
  color: white;
}
.largeIcons{
  display: grid;
  height: 200PX;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  background-color: black;
  align-items: center;
  color: white;
}
.rock, .paper, .scissor {
  width:80px;
  
}
.iconHolder{
  display: flex;
  justify-content: center;
}
.resultbox{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.resultboxstyle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}